* *::before *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Public-Sans", san-serif;
  font-size: 16px;
}
body {
  width: 100%;
  background-color: hsl(140, 11%, 89%);
}

/* VARIABLES */
:root {
  --dark-blue: hsl(231, 100%, 3%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 22%, 36%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

/* UTILITY CLASSES */
.u-mb-small {
  margin-bottom: 1rem;
}